@page
@model ScottAutoRepair.Pages.ServiceTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info font-weight-bold h2">Details</h2>
<br />

        <div class="form-group row">
            <div class="col-2 text-white h3">
                @Html.DisplayNameFor(model => model.ServiceType.Name)
            </div>
            <div class="col-5 text-white h3">
                @Html.DisplayFor(model => model.ServiceType.Name)
            </div>
            
        </div>
        <div class="form-group row">
            <div class="col-2 text-white h3">
                @Html.DisplayNameFor(model => model.ServiceType.Price)
            </div>
            <div class="col-5 text-white h3">
                @Html.DisplayFor(model => model.ServiceType.Price)
            </div>
           
        </div>
       

        

<div>
    <a class="btn btn-success" asp-page="./Index">Back to List</a>
</div>
